on early-init
    export EXTERNAL_STORAGE /mnt/sdcard
    mkdir /mnt/sdcard 0775 system system

    # Huawei shit (dunno if we want these)
    mkdir /persist 0771 system system
    mkdir /cust
    mkdir /HWUserData 0775 system system

    # for backwards compatibility
    symlink /mnt/sdcard /sdcard

# Disable CFQ slice idle delay
    write /sys/block/mmcblk0/queue/iosched/slice_idle 0

on fs
# mount mtd partitions
    # Mount /system rw first to give the filesystem a chance to save a checkpoint
    mount yaffs2 mtd@system /system
    # /*< DTS2011122806348 yanzhennan 20120129 begin */
    chmod 2755 /system/bin/pcscd
    # /* DTS2011122806348 yanzhennan 20120129 end >*/
    # /*< DTS2011121702721 chenxi 20111222 begin */
    mount yaffs2 mtd@system /system ro remount
    # /* DTS2011121702721 chenxi 20111222 end >*/
    mount yaffs2 mtd@userdata /data nosuid nodev
    mount yaffs2 mtd@persist /persist nosuid nodev
    mount yaffs2 mtd@cache /cache nosuid nodev
    mount yaffs2 mtd@persist /persist nosuid nodev
    #/*< DTS2011100400385 fangxinyong 20111020 begin */
    mkdir /data/HWUserData 0777 system system
    mount yaffs2 mtd@userdata2 /data/HWUserData nosuid nodev
    chown system system /data/HWUserData
    chmod 0777 /data/HWUserData
    chown system system /data/HWUserData/sd.img
    mount vfat loop@data/HWUserData/sd.img /HWUserData umask=0002,uid=1000,gid=1015,utf8
    #/* DTS2011100400385 fangxinyong 20111020 end >*/
    #/* <DTS2011110900187 wangdong 20111031 begin */
    mount yaffs2 mtd@cust /cust 
    mount yaffs2 mtd@cust /cust ro remount
    #/* DTS2011110900187 wangdong 20111031 end> */

on post-fs

    # We chown/chmod /data again so because mount is run as root + defaults
    chown system system /data
    chmod 0771 /data

    # Mounting of persist is moved to 'on emmc-fs' and 'on fs' sections
    # We chown/chmod /persist again so because mount is run as root + defaults
    chown system system /persist
    chmod 0771 /persist
    chmod 0664 /sys/devices/platform/msm_sdcc.1/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.2/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.3/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.4/polling

    # Chown polling nodes as needed from UI running on system server
    chown system system /sys/devices/platform/msm_sdcc.1/polling
    chown system system /sys/devices/platform/msm_sdcc.2/polling
    chown system system /sys/devices/platform/msm_sdcc.3/polling
    chown system system /sys/devices/platform/msm_sdcc.4/polling

    # Same reason as /data above
#/*< DTS2011101705811 lishubin  20111019 begin */	
#/* < DTS2012022801524 weizhonghui 20120228 begin */
    mkdir /cache/huawei_ota 0775 system system
    chmod 0775 /cache/huawei_ota
    mkdir /cache/huawei_ota/tmp 0775 system system
    chmod 0775 /cache/huawei_ota/tmp

# create basic filesystem structure
#/* < DTS2012021301035 limeng 20120213 begin */
    mkdir /data/misc
    chmod 01771 /data/misc/
    chown system misc /data/misc/
#/* DTS2012021301035 limeng 20120213 end > */
    mkdir /data/misc/bluetoothd 0770 bluetooth bluetooth
    mkdir /data/misc/bluetooth 0770 system system
    mkdir /data/misc/keystore 0700 keystore keystore
    mkdir /data/misc/vpn 0770 system system
    mkdir /data/misc/systemkeys 0700 system system
    mkdir /data/misc/vpn/profiles 0770 system system
    mkdir /data/local 0751 root root
    mkdir /data/local/tmp 0771 shell shell
    mkdir /data/data 0771 system system
    mkdir /data/app-private 0771 system system
    mkdir /data/app 0771 system system
    mkdir /data/property 0700 root root
    mkdir /data/radio 0770 radio radio
#/* < DTS2011121504967 wanghao 20111215 begin */
#/* < DTS2011100803980 wanghao 20111008 begin */
    #create  WIFI filesystem structure
#/* < DTS2011111007245 wanghao 20111110 begin */
    mkdir /data/misc/wifi/sockets 0775
    chown wifi wifi /data/misc/wifi/sockets
    mkdir /data/misc/wpa_supplicant 0775
    chown wifi wifi /data/misc/wpa_supplicant
    mkdir /data/misc/dhcp 0775 dhcp dhcp

#/* DTS2011100803980 wanghao 20111008 end > */
#/* DTS2011121504967 wanghao 20111215 end > */
    mkdir /data/misc/sensors 0775 root root
    write /data/system/sensors/settings 0
    chmod 0664 /data/system/sensors/settings

#/* < DTS2012022801524 weizhonghui 20120228 begin */
    mkdir /data/huawei_hwvefs 0775 root sdcard_rw
    chown root sdcard_rw /data/huawei_hwvefs
    chmod 0775 /data/huawei_hwvefs
#/* DTS2012022801524 weizhonghui 20120228 end > */
    #/* DTS2011111101457 zhangxiangdang 20111112 end > */
    
#/* <DTS2011110900187 wangdong 20111031 begin */
on cust
    mkdir /data/cust
    
    #/* <DTS_CUST zhudongya 20111031 begin */
    exec /system/bin/load_oemlogo
    #/* DTS_CUST zhudongya 20111031 end> */
    
    ##/*<DTS2010120700101 zhangmingxiu 20101209 begin*/
    # create the OMA directories, so as to enforce our permissions
    mkdir /data/oma 0777
    chmod 0777 /data/oma
    ##/*Irdeto-drm yangqinghua 20101106 End>*/
    ##/*DTS2010120700101 zhangmingxiu 20101209 end>*/

#/* <DTS2012021004882 sunkai 20120210 begin */
    chown system system /sys/devices/platform/mmi_key_dev/keytest
#/* DTS2012021004882 sunkai 20120210 end> */

# /*< DTS2011110804704 zhangyancun 20111109 begin */
# we changed the owner and group of these files of usb 
# to meet the requirements of projectmenu
    chown system system /sys/devices/platform/msm_hsusb/gadget/sdstatus
    chown system system /sys/devices/platform/msm_hsusb/gadget/switchusb
    chown system system /sys/devices/platform/msm_hsusb/gadget/fixusb
# /* DTS2011110804704 zhangyancun 20111109 end >*/

# Assign TCP buffer thresholds to be ceiling value of technology maximums
# Increased technology maximums should be reflected here.
    write /proc/sys/net/core/rmem_max  1220608
    write /proc/sys/net/core/wmem_max  1220608

    class_start default

## Daemon processes to be run by init.
##
#/* < DTS2011082001050  liujinggang 20110822 begin */
#/* we change the following lines to change the accel and  compass_aot mode to pass the AT&T test
chmod 0664 /dev/accel
chmod 0664 /dev/compass_aot
#/* < DTS2012011003827 zhangmin 20120110 begin */
chmod 0664 /dev/akm8975_dev
chmod 0664 /dev/compass_dev
#/* DTS2012011003827 zhangmin 20120110 end > */
chmod 0664 /dev/gyro
#/* DTS2011082001050  liujinggang 20110822 end > */

service hfag /system/bin/sdptool add --channel=10 HFAG
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service hsag /system/bin/sdptool add --channel=11 HSAG
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service opush /system/bin/sdptool add --psm=5255 --channel=12 OPUSH
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot
    
#/* < DTS2011111007245 wanghao 20111110 begin */
service wlan_detect /system/bin/wlan_detect
    user root
    group root
    oneshot
#/* DTS2011111007245 wanghao 20111110 end > */

#/* < DTS2011121504967 wanghao 20111215 begin */
#/* < DTS2011100803980 wanghao 20111008 begin */
service wpa_supplicant /system/bin/wpa_supplicant -Dar6000 -iwlan0 -W -c/data/misc/wifi/wpa_supplicant.conf
    class main
    group wifi inet
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot
#/* < DTS2012030506477 huangpei 20120326 begin */
service dhcpcd_wlan0 /system/bin/dhcpcd -BKL
    class main
    disabled 
    oneshot
    
service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled 
    oneshot
#/* DTS2012030506477 huangpei 20120326 end > */
#/* DTS2011100803980 wanghao 20111008 end > */
#/* DTS2011121504967 wanghao 20111215 end > */

service pbap /system/bin/sdptool add --channel=19 PBAP
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

# /*< DTS2011113002685 z00138255 20111130 begin */
service tcpmsgd /system/bin/tcpmsgd
    disabled

on property:service.health.manager=1
    start tcpmsgd

on property:service.health.manager=0
    stop tcpmsgd

# /* DTS2011113002685 z00138255 20111130 end >*/

#/* < DTS2011120703789 weiheng 20111212 begin */
#/* <DTS2011091901282 wangdong 20110919 begin */
service test_diag /system/bin/test_diag
    oneshot
#/* DTS2011091901282 wangdong 20110919 end> */
# /*< DTS2011092804184 xiewen 20110928 begin */
# start huawei rpc server
service oem_rpc_svc /system/bin/oem_rpc_svc
    oneshot
# /* DTS2011092804184 xiewen 20110928 end >*/
#/* DTS2011120703789 weiheng 20111212 end> */

# /*< DTS2011082200995 lihongbin 20110826 begin */
service rmt_oeminfo /system/bin/rmt_oeminfo
    user root
    disabled

#/*< DTS2011081800819 zhangyun 20110818 begin*/
service bcm_hciattach /system/bin/sh /system/etc/bluetooth/init.bcm.bt.sh
    user bluetooth
    group qcom_oncrpc bluetooth net_bt_admin system
    disabled 
    
service chip_power_on /system/bin/sh /system/etc/bluetooth/init.bcm.chip_on.sh
    user root
    group system
    disabled
    oneshot 
    
service chip_power_off /system/bin/sh /system/etc/bluetooth/init.bcm.chip_off.sh
    user root
    group system
    disabled
    oneshot
    
service hci_dev_up /system/bin/hci_dev_state --dev_up
    user root
    group bluetooth system
    disabled 
    oneshot
    
service hci_dev_down /system/bin/hci_dev_state --dev_down
    user root
    group bluetooth system
    disabled 
    oneshot    
service BtWiRfServer /system/xbin/RfTest
    user root
    group bluetooth net_bt_admin system  
    disabled
    oneshot
#/* DTS2011081800819 zhangyun 20110818 end >*/

#/*< DTS2011102903110 weizhonghui 20111104 begin */
service filebackup /system/bin/filebackup
    socket filebackup stream 0600 radio system
#/* DTS2011102903110 weizhonghui 20111104 end >*/

#/* < DTS2011120105419  huangzhao 20111202 begin*/
#/*< DTS2011060302019 lihongbin 20110608 begin */
#/* copy the dts DTS2011010604470 */
service callife /system/bin/callife
    oneshot
#/* DTS2011060302019 lihongbin 20110608 end >*/ 
#/* DTS2011120105419  huangzhao 20111202 end >*/
#/* < DTS2012022201738 zhangzhengxue 20120227 begin */
#/* delete 7 lines,the service fm_dl has already defined in init.qcom.rc */
#/* DTS2012022201738 zhangzhengxue 20120227 end > */

#/* < DTS2011122801807 wugao add for system stat tool begin */
service systemstattool /system/bin/systemstattool
    socket socket_front_act_info stream 0660 root mount
    socket socket_act_start_perf stream 0660 root mount
    disabled

on property:ro.service.systemstattool=true
    start systemstattool
#/* DTS2011122801807 wugao add for system stat tool end > */
# DTS2012011701588 yanhongfei 20120117 add paragon code begin
chmod 0755  /etc/ppp/ip-up-ppp
chmod 0755  /system/xbin/cplusw
service  cplusw  /system/xbin/cplusw
# DTS2012011701588 yanhongfei 20120117 add paragon code end
    
#/*< DTS2012020201935 genghua 20120202 begin */
#/* the following services are added
# * according to the Vodafone's requirement, other products are not needed. 
# */
service RescueStarter /system/bin/RescueStarter
    user graphics
    group input graphics
    disabled

on property:ro.RescueStarter=1
    start RescueStarter
#/* DTS2012020201935 genghua 20120202 end >*/

service qmuxd /system/bin/qmuxd
    class main
    user radio
    group radio

service netmgrd /system/bin/netmgrd
    class main

on property:persist.service.zram=10
    start compcache

on property:persist.service.zram=18
    start compcache

on property:persist.service.zram=26
    start compcache
